[Unit]
Description=Grafana
Documentation=https://grafana.com/docs/grafana/latest/
Wants=network-online.target
After=network-online.target prometheus.service

[Service]
User=grafana
Group=grafana
Type=simple
ExecStart=/usr/local/bin/grafana-server \
  --config /etc/grafana/grafana.ini \
  --homepath /usr/share/grafana \
  cfg:default.paths.data=/var/lib/grafana \
  cfg:default.paths.logs=/var/log/grafana

[Install]
WantedBy=multi-user.target